* {
    margin: 0px;
    padding: 0px;
}

/* ==============MENU CSS========= */
.topnav {
    overflow: hidden;
    background-color: #2c3e50;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.topnav a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

.about,
.contact,
.portfolio {
    font-size: 15px;
    padding-top: 2px;
}

.about {
    padding-right: 14px;
}

.portfolio {
    padding-right: 14px;
    margin-left: 62rem;
    
}

.active {
    color: white;
    text-align: center;
    font-size: 20px;

}

.topnav .icon {
    display: none;
}


.topnav a:hover {
    background-color: #555;
    color: white;
}

.icon {
    background-color: #18bc9c;
    height: 20px;
    width: 60px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}


/* ---------------------------------------- */
/* =================PROFILE SECTION================== */

.profile-section {
    display: block;
    width: 100%;
    background-color: #18bc9c;
    padding: 30px 0px;
}

.profilepic {
    display: block;
    margin: auto;
    width: 150px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.startext {
    
    text-align: center;
   
    margin-top: 20px;
    align-self: center;
 
    color: white;
}


.text {
  
    text-align: center;
   
    align-self: center;
   
    font-size: 25px;


    color: white;
    padding-top: 25px;
    padding-bottom: 50px;
}

/* ---------------------------------------------------------------------- */

/* --------------------------portfolio section--------------------------------------- */

.portfolioo-section {
    background-color: white;
    padding-top: 50px;
   
}

.portfolioo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    padding: 30px 20px;
}

.image {
    height: 260px;
    width: 360px;
    margin: 15px;
}

.textportfolio {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    align-self: center;
    width: 40%;
    font-size: 30px;
    color: #2c3e50;
}

.picstar {
    display: block;
    text-align: center;
    margin: auto;
    width: 40%;
    font-size: 400%;
    color: #2c3e50;
}

.container {
    display: flex;
    column-gap: 30px;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 215px;
}

/* ---------------------------------------------------------------------- */

/* __________________________ABOUT SECTION_______________________________ */
.about-section {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #18bc9c;
}

/* ***********************ABOUT SECTION TITLE****************************** */

.about-section-title {
    display: flex;
    justify-content: center;

    padding-bottom: 25px;
}

#about-title {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    /* font-weight: 1000; */
}

/* ------------------------------------------------------------ */
/* ----------------------star section--------------------------- */
.about-star-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-star-icon {
    margin-top: -15px;
    padding-left: 5px;
    padding-right: 5px;
}

#about-star-i {
    font-size: 40px;
    color: #ffffff;
}

#about-star-i::before,
#about-star-i::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #ffffff;
    width: 6.50rem;
    margin: -4px 5px;
    transform: translateY(-1rem);
}

.fa-star {
    font-size: 0.70em;
    line-height: .08333em;
    vertical-align: .125em;
}

/* ------------------------------------------------------------ */

/* -----------------------about body------------------------------ */
.about-section-body {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.about-section-one {
    margin-right: 51px;
}

#about-section-one {
    color: #ffffff;
    font-size: 18px;
}

.about-section-two {
    margin-left: -25px;
}

#about-section-two {
    color: #ffffff;
    font-size: 18px;
}

/* ------------------------------------------------------------ */
.download-button {
    display: flex;
    justify-content: center;    
    padding-bottom: 50px;
}

#download-button {
    background-color: #18bc9c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    border-width: 2px;
    font-size: 17px;
}

#download-button:hover {
    background-color: #18bc9c;
    
}

/* __________________________________________________________________ */


/* ***********************contact us section****************************** */
.contact-section {
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* --------------------contact title---------------------- */
.contact-title {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

#cont-ttitle {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
}

/* ------------------------------------------------------------ */

/* ----------------------star section--------------------------- */

.star-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

.star-icon {
    margin-top: -15px;
    padding-left: 5px;
    padding-right: 5px;
}

#star-i {

    font-size: 40px;
    color: #2c3e50;
}

#star-icon {
    font-size: 4rem;
}

#star-i::before,
#star-i::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #333333;
    ;
    width: 6.50rem;
    margin: -4px 5px;
    transform: translateY(-1rem);
}

.fa-xs {
    font-size: 0.70em;
    line-height: .08333em;
    vertical-align: .125em;
}

/* ------------------------------------------------------------ */

/* ---------------------contact body section------------------------------- */
.contact-body-section{
    padding-top: 25px;
}
#hr-onee {
    color: #a2a2a2;
}

.c-email,
.phone-n,
.mess,
.c-name {
    margin-top: 15px;
    margin-bottom: 15px;
}

#phonenumber,
#name,
#message,
#email {
    border: none;
    outline: none;
}
#phonenumber::placeholder,#name::placeholder,#email::placeholder{
    font-family: sans-serif;
    font-size: 16px;
    color: #555;
}
#message::placeholder {
    display: flex;
    justify-content: first baselineW;
    font-family: sans-serif;
    font-size: 16px;
    color: #555;
}

#message {
    width: 100%;
    height: 150px;
    resize: none;
}

#send-button {
    background-color: #18bc9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    
}

#send-button:hover {
    background-color: #18bc9c;
}

.button {
    margin-top: 15px;
}

/* ------------------------------------------------------------ */

/* *********************************************************************** */

/* ******************CSS FOR VISITORS-SECTION**************** */
.visitor-section {
    display: flex;
    flex-direction: row;
    background-color: #2c3e50;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 20px;
}

/* -----------------------location-SECTION------------------------- */
.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;

}

.location-title {
    font-size: 20px;
    margin-bottom: 15px;
}

#loc-t {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

#loc-body-one,
#loc-body-two {
    display: flex;
    justify-content: center;
}

/* ------------------------------------------------------------ */


/* ---------------------AROUND THE WEB SETION----------------------- */
.around-web-section {
    display: flex;
    flex-direction: column;
    flex-basis: 230px
}

.around-web-title {
    font-size: 20px;
    margin-bottom: 15px;
}

#ar-web-t {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.around-web-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: auto;
    gap: 10px;
    justify-content: center;
}

.icon-one,
.icon-two,
.icon-three,
.icon-four,
.icon-five {
    display: flex;
    border: 3px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    justify-content: center;
    align-items: center;
}

#icon-one,
#icon-two,
#icon-three,
#icon-four,
#icon-five {
    height: 20px;
    width: 20px;
    font-size: 20px;
}

#icon-one {
    padding-left: -2px;

    font-size: 20px;
}

/* ------------------------------------------------------------ */

/* ----------------------FREELANCER SECTION-------------------- */
.freelance {
    display: flex;
    flex-direction: column;
}

.about-freelance {
    font-size: 20px;
    margin-bottom: 15px;
}

#freelance-t {

    display: flex;
    font-weight: bold;
    justify-content: center;
}

/* #abo-freel-discrip-one{
    display: flex;
    justify-content: center;
    align-self: center;
} */
.about-freelance-discription-tow {
    display: flex;
    justify-content: center;
}

#startlink {
    color: #18bc9c;
}

#startlink:hover {
    color: rgb(236, 255, 242);
    cursor: pointer;
}

/* ------------------------------------------------------------ */



/* *********************************************************** */



/* --------------------FOOTER SECTION-------------------- */
.footer-section {
    display: flex;
    justify-content: center;
    background: #233140;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.copyright-section {

    color: white;
}

/* *********************************************************** */
/* ==============================CSS DONE FOR Windows========================= */